<div class="container mt-1">
    <h5 class="text-center">Registration Form</h5>
    <form [formGroup]="userRegistrationFormGroup" (submit)="onSubmit(userRegistrationFormGroup)">
        <div class="mb-3">
            <label for="fullname" class="form-label">FullName</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" formControlName="fullname" id="fullname" placeholder="Enter your fullname">
            </div>
          </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input type="text" class="form-control" formControlName="username" id="username" placeholder="Enter your username">
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email">
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter your password">
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm your password">
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-phone"></i></span>
          <input type="tel" class="form-control" formControlName="phone" id="phone" placeholder="Enter your phone number">
        </div>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-home"></i></span>
          <input type="text" class="form-control" formControlName="address" id="address" placeholder="Enter your address">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a type="button" routerLink="../login" class="btn btn-info w-100">Login</a>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>
      </div>
    </form>
  </div>
