
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" #modelid data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form [formGroup]="UserFormGroup" (submit)="SubmitUserForm()">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> {{titleUserAdd}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row gy-3 overflow-hidden">
              <div class="col-12">
                <div class="form-floating mb-3">

                  <input type="text" id="idfullname" class="form-control"  formControlName="fullname"  placeholder="Full Name" required>
                  <label for="idfullname" class="form-label">User Name</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating mb-3">

                  <input type="text" id="idusername" class="form-control"  formControlName="username"  placeholder="UserName" required>
                  <label for="idusername" class="form-label">User Name</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="password" id="idpassword" autocomplete class="form-control"  formControlName="password"  value="" placeholder="Password" required>
                  <label for="idpassword" class="form-label">Password</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <select id="iddepartment" class="form-control" formControlName="department">
                    <option>---Select---</option>
                    <option *ngFor="let item of Departments">{{item}}</option>
                  </select>
                  <label for="iddepartment" class="form-label">Department</label>
                </div>
              </div>
              <div class="col-12">
                 <div class="form-floating">
                  
                  <input type="checkbox" id="idactiveCheckbox" formControlName="IsActive"  class="form-check" placeholder="active" name="Active">
                  <label for="idactiveCheckbox" >Active</label>
                 </div>
              </div>
             <!--  <div class="col-12">
                <div class="form-floating">
                  <input type="file" #myfile class="btn btn-secondary"  name="file" formControlName="profile" (change)="SaveImage($event)" >
                </div>
            </div> -->
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      </form>
    </div>
  </div>
  
  