@media print {
    .btn {
      display: none;
    }
    .card {
      page-break-inside: avoid;
    }
  }

  .imgscr{
    width: 100%;
    height: 148px;
  }
  .scctxttotal{
    background-color:#DCE7E9;
    color: rgb(61, 85, 146);
    font-size:0vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px 5px;
  }
